@import 'grid/_grid.scss';
@import 'mixins/_mixins.scss';
@import 'helpers/_utility.scss';
@import 'helpers/_normalize.scss';
@import 'helpers/_colors.scss';
@import 'helpers/_alignment.scss';
@import 'helpers/font.scss';
@import 'helpers/_form.scss';
@import 'helpers/_loader.scss';


html {height:100%;}
body{height:100%; margin:0;}
img{max-width:100%; height:auto;}
.blue_bg{background:url(../images/screen_pattern.svg) repeat 0 0 #0066FF;
  background-size:100% 100%;
}
.flex-container {
  height: 100%;
  min-height:100vh;
  display: flex;  
}
.hide{display:none;}
.bdr8{ @include border-radius(8px);}
.bdr24{ @include border-radius(24px);}
.bdr18{ @include border-radius(24px);}
.left_part{height:100%; @extend .p-F;   
  flex: 0 100px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0; }
.Rgt_part{ margin-left:39.66667%;}

.logo{background:url(../images/paisabazaar_logo.svg) no-repeat 0 0; 
  height:25px; width:150px; @extend .dIB;
}
.close_box{  
    border-radius:50%; padding:10px 10px 10px 11px;
    width:40px; height:40px; top:0px; right:0px; line-height: 20px;z-index: 99; position: fixed;
    @extend .p-A; @extend .hand; @extend ._C; @extend .V_m;    
    .close {
        @extend .clr-Darkblue; @extend .dIB;
        background: url(../images/darkblue_cros.svg) no-repeat;
        width:12px; height:12px; background-size:100%;  
    }
    &:hover{background: #aab7c636;}
}
.google_icon, .face_icon{height:20px; width:20px; @extend .dIB;}
.google_icon{background:url(../images/google_icon.svg) no-repeat 0 0; margin-right:10px;}
.face_icon{background:url(../images/facebook_icon.svg) no-repeat 0 0;}
.disclamer{padding:0;
  li{@extend .dIB; padding:0 6px;}
  .dot{font-size:20px; @extend ._C; vertical-align:bottom;}
}
.fs-15{font-size:16px;}
.line {
  border-bottom: solid 1px #052f5f66;
  height:22px; margin:0 0 25px;
  span{padding:10px;}
}
.input_flag {
  @extend .p-A; @extend ._oL; @extend .dIB; @extend .fw-6;
  top:32px; z-index:1; width:80px; height:22px;
  background: url(../images/india_flag.svg) no-repeat 0 1px;
  background-size: 24px; padding-left: 28px;
  line-height:17px;
}
.form_group.flag input.custom_input {
  padding-left:75px;
}
.div_center{height:100%; display:flex; align-items:center; justify-content:center;}
.mobile_img{
  p{line-height:15px;}
  .Qr_box{width:170px; height:170px; 
    background-size:100%;
  }
}
.white_cross {
  background: url(../images/close_white.svg) no-repeat 0 0;
  width:13px; height:14px; @extend .p-R; @extend .dIB;
}
.Qr_refresh{ @extend .p-R;
	img{opacity:0.2;}
	.refresh_box {@extend .dB; height:95px; width:95px; padding:15px 10px; @extend .dB;
	       @extend .bg-skyblue; @extend .p-A; @extend ._oT; @extend ._oR; @extend ._oL; 
         @extend ._oB; margin: auto; border-radius:50%; 
	    p{ @extend .clr-f; @extend .dB; @extend .fs-12; @extend .fw-6; @extend .m0;}
	    .refresh_img{ 
        background: url(../images/refresh.svg) no-repeat 0 0;
         width:22px; height:24px; @extend .dIB;
      }
	}
}
/* Flip css start here */
.front_view{ 
  p{line-height:15px;}
  .Qr_box{width:170px; height:170px; @extend .p-R; @extend .dIB; padding:5px;
     background:url(../images/qr_border.svg) no-repeat 0 0; background-size:100%;
    .lds-ring{left:0;}
  }
}
.mobile_back{ 
  @extend .p-A; top:4px; left:2px;
  .white_cross{right:15px; top:10px; @extend .p-A; padding:10px;
    @extend ._C; @extend .V_m; background-position: center center;}
}
.white_cross {
  background: url(../images/close_white.svg) no-repeat 0 0;
  width:13px; height:14px; @extend .p-R; @extend .dIB;
}
img{max-width:100%; display:block; height:auto;}
.slide_in {
  z-index: 10; overflow:hidden; 
   @extend .dIB; color:#052F5F;
  box-shadow:0px 32px 34px 0 rgba(0, 0, 0, 0.11); border-radius:24px; 
}
.slide_in_content {  
  transition: transform .5s ease; 
}
.slide_in.front_view .slide_in_content.mobile_front{
  transform: translateX(0);
  -webkit-transform: translateX(0); @extend .p-A; @extend ._oT; padding:50px 19px;
}
.slide_in.front_view .slide_in_content.mobile_back{
  transform: translateX(106%);
  -webkit-transform: translateX(106%);
}
.slide_in.back_view .slide_in_content.mobile_back{
  transform: translateX(0%);
  -webkit-transform: translateX(0%); 
  img{width:99%;} 
}
.slide_in.back_view .slide_in_content.mobile_front{
  transform: translateX(-115%);
  -webkit-transform: translateX(-115%); @extend .p-A;
}
.flipbox { 
  .flip {
    @extend .p-R; height:100%; width:90%; overflow:hidden; @extend .dIB;
     border-radius:28px;
  }
}
.Qr_box .spinner > div{
  background:#0066FF; width:5px;
}
/* flip css End here */

.edit_icon{width:14px; height:17px; margin-right:5px; @extend .dIB; @extend .V_m;
background: url(../images/edit_icon.svg) no-repeat 0 0; margin-left:5px; background-size:90%;
}

/* WhatsApp Consent Css start */
.whatsup_consent{@extend .dF; justify-content:center;
  .what_logo{@extend .dIB; @extend .V_m; height:20px; width:20px; margin-right:5px;
    background: url(../images/whatsapp_logo.png) no-repeat 0 0; background-size:100%; 
  }
  .onoff_div{@extend .V_m; margin-left:10px; @extend .dF;}
}
/*toggle on off start here*/
.toggle_onoff {width:30px;}
.toggle_onoff input {opacity:0; width:0; height:0;}
.toggle_onoff input:focus+.slider {box-shadow: 0 0 1px #fff;}
.toggle_onoff input:checked+.slider{background:#2C3BD9;}
.toggle_onoff input:checked+.slider:before { -webkit-transform: translateX(15px); 
    -ms-transform: translateX(15px); transform: translateX(15px);
}                    
.slider.round {@extend .bdr24; width:30px; height:16px;}
.slider.round:before {border-radius:50%;}
.slider {background-color:#aab7c6; -webkit-transition:.4s; transition:.4s; @extend .p-A;
  @extend ._oL; @extend ._oR; @extend ._oB; @extend .hand; top:3px;
}
.slider:before {content:""; @extend .p-A; @extend .bg-f; height:12px; width:12px; 
    left:2px; bottom:2px; -webkit-transition:.4s; transition:.4s;     
}
/*toggle on off End here*/
/* WhatsApp Consent Css End */
.otp_form{width:70%;
  input.custom_input::placeholder{font-size:100px; @extend .clr-Darkblue; opacity:0.2;}
  input.custom_input::-webkit-input-placeholder {
    height:190px;
  }
  .eror{@extend ._C;}
}
.form_group .custom_input.otp_input{
  @extend ._C; @extend .dIB; @extend .m0A; color:#052F5F;
  padding:10px 0; letter-spacing:20px; text-indent:10px;
  font-size:32px; height:50px;
}
/* WhatsApp Consent Css End */
.social_login{
  @extend .bdr8; border: 1px solid rgba(5,47,95,0.1); justify-content:center;
  background-color: rgba(5,47,95,0.04); box-sizing: border-box;
  .letter_circle{ 
    width:40px; height:40px; border: 1px solid #2F3B7F; background-color: #5D6CC0;
    -moz-border-radius: 70px; -webkit-border-radius: 70px; border-radius:70px; @extend .fw-6;
    @extend ._C; @extend .dIB; @extend .pd10; @extend .V_m; @extend .fs-18; @extend .clr-f; 
    line-height:18px; flex:none; margin-right:10px;
  }
  .mail_address{
    @extend ._L; box-flex: 1; flex-grow: 1;
    -webkit-box-flex: 1; -webkit-flex-grow: 1;
  }
}
.alert{
  @extend .fs-12; @extend .fw-5; @extend ._L; padding-left:30px; @extend .p-R;
  span{
    background: url(../images/alert_icon.svg); width:20px; height:17px; @extend .p-A;
    @extend ._oL;
  }
} 
.half_width{ @extend .dIB; width:49%;}
.modal_black{background:#032143; @extend .p-F; @extend ._oT; @extend ._oB; @extend ._oL; @extend ._oR; opacity:0.63;
  z-index:9;}

@media only screen and(min-device-width:768px) and(max-device-width:1024px) { 
  .flex_container .Rgt_part .g-6 { width:70%;}
}
@media only screen and (max-width:640px){
  .g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12{width: 100%;}
  .hide-s { display: none;}
  .Rgt_part{ margin-left:0;}
  .cin_dB{display:block; margin-top:5px;}
}
