

/* Positon */

.p-R { position:relative;}
.p-F { position:fixed;}
.p-A {position:absolute;}

/* Displays */ 	

.dIB{ display:inline-block;}
.dB{ display:block;}
.dN{ display:none;}
.dF{ display:flex;}

/* text orientations */

._L { text-align: left; }
._C { text-align: center;}
.V_m{vertical-align:middle;}

/* align set*/

._oT {top:0;}
._oR {right:0;}
._oL {left:0;}
._oB {bottom:0;}

