$clr-Darkblue:#052F5F;
$clr-f:#fff;
$clr-red:#D72716;
$anchor-blue:#1B1DC7;
$white:#fff;
$primary:#424242;
$bg-blue:#1B1DC7;
$bg-white:#fff;
$bg-red:#D72716;
$bg-skyblue:#1996ff;

body { background-color: $white;}

.clr-Darkblue{color:$clr-Darkblue;}
.clr-anchor{color:$anchor-blue;}
.clr-f{color:$clr-f;}
.clr-red{color:$clr-red; }
.bg-f{background:$bg-white;}
.bg-red{background:$bg-red;}
.btn_blue{background:$bg-blue;}
.bg-skyblue{background:$bg-skyblue;}
