/* FONT */

$font-height: 1.4;
$font-family:'Open Sans', sans-serif;

html, body { height: 100%; width: 100%; font-family: $font-family; line-height: $font-height;    
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Font Weight */

.fw-5 { font-weight:500;}
.fw-6 { font-weight:600;}
.fw-7 { font-weight:700;}
			
/* Font Size */	

.fs-10{font-size:rem(10);}
.fs-12{font-size:rem(12);}
.fs-14{font-size:rem(14);}
.fs-16{font-size:rem(16);}
.fs-18{font-size:rem(18);}
.fs-24{font-size:rem(24);}




