/* Form CSS start here */

.form_group{padding-top:30px; margin-bottom:15px;
    input.custom_input { padding-bottom:6px; border:none; height:25px; 
        border-bottom:1px solid rgba(5, 47, 95, 0.2); @extend .dB; @extend .fw-6; 
        @extend .fs-16; color:#052F5F; 
    }
    input.custom_input::placeholder{        
        opacity: 0.6; @extend .fw-5; @extend .fs-16; color:#052F5F;
    }
    input.custom_input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */        
        opacity: 0.6; @extend .fw-5; @extend .fs-16; color:#052F5F;         
    }
    input.custom_input::-ms-input-placeholder {
        /* Microsoft Edge */        
        opacity: 0.6; @extend .fw-5; @extend .fs-16; color:#052F5F;
    }
}
/* error state */

.eror{display:none; opacity:0;  @extend .fs-12; @extend .fw-6;}
.error span.eror{
    @extend .clr-red; @extend .dB;
    opacity: 1;
    transition-delay: 0s;
}
.error span:before, .error span:after {
    @extend .bg-red;
}

/* BOTTOM _lineS starts */
._line:before,
._line:after {
    content: '';
    height:1px;
    width: 0;
    @extend ._oB;
    @extend .p-A;
    background: #052F5F;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
._line:before {
    left: 50%;
}
._line:after {
    right: 50%;
}
/* active state */

input:focus~._line:before,
input:focus~._line:after, .error ._line:before, .error ._line:after{
    width: 50%;
}
/* Form End here */

