/* Button loader start here*/

.spinner {
    width:100%;
    height:40px;
}
  .spinner{
        > div {
          @extend .bg-f; @extend .dIB;
          height: 100%;
          width:4px;          
          margin-left:2px;
          -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }
        .rect1 {
          -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
        }
        .rect2 {
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }
        .rect3 {
          -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
        }
        .rect4 {
          -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
        }
        .rect5 {
          -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
        }
  }  
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

@media only screen and (max-width:640px){
  .spinner{height:34px;}
}  
/*Button loader End here*/
