
html {
  font-family: sans-serif; // 1
  line-height: 1.15; // 2
  -ms-text-size-adjust: 100%; // 3
  -webkit-text-size-adjust: 100%; // 3
}
body {
  margin: 0;
}
article,aside,
footer,header,
nav,section,figcaption,
figure {
  display: block;
}
a {
  background-color: transparent; // 1
  -webkit-text-decoration-skip: objects; // 2
}

a:active,
a:hover {
  outline: 0;
}

img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
// 1. Change the font styles in all browsers (opinionated).
// 2. Remove the margin in Firefox and Safari.
//

button,
input,
optgroup,
select,
textarea {
  font-family:"Open Sans", sans-serif; // 1
  font-size: 100%; // 1
  line-height: 1.15; // 1
  margin: 0; // 2
}
//
// Show the overflow in IE.
// 1. Show the overflow in Edge.
//

button,
input { // 1
  overflow: visible;
}

//
// Remove the inheritance of text transform in Edge, Firefox, and IE.
// 1. Remove the inheritance of text transform in Firefox.
//

button,
select { // 1
  text-transform: none;
}

//
// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
//

button,
html [type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
}

//
// Remove the inner border and padding in Firefox.
//

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

//
// Restore the focus styles unset by the previous rule.
//

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

//
// Change the border, margin, and padding in all browsers (opinionated).
//

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

textarea {
  overflow: auto;
}

//
// 1. Add the correct box sizing in IE 10-.
// 2. Remove the padding in IE 10-.
//

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

//
// Correct the cursor style of increment and decrement buttons in Chrome.
//

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

//
// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.
//

[type="search"] {
  -webkit-appearance: textfield; // 1
  outline-offset: -2px; // 2
}

//
// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
//

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
//

::-webkit-file-upload-button {
  -webkit-appearance: button; // 1
  font: inherit; // 2
}

// Interactive
// ==========================================================================

//
// Add the correct display in IE 9-.
// 1. Add the correct display in Edge, IE, and Firefox.
//

details, // 1
menu {
  display: block;
}

//
// Add the correct display in all browsers.
//

summary {
  display: list-item;
}

// Scripting
// ==========================================================================

//
// Add the correct display in IE 9-.
//

canvas {
  display: inline-block;
}

//
// Add the correct display in IE.
//

template {
  display: none;
}

// Hidden
// ==========================================================================

//
// Add the correct display in IE 10-.
//

[hidden] {
  display: none;
}
