@import '../mixins/_mixins.scss';


$fontfamily:'Open Sans', sans-serif;
body{color:#052F5F;}
*:focus {outline:0;}
*{ -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
.fullCon{box-sizing: border-box; width:100%;}

.hand { cursor: pointer;}
.bdr0 {border:0;}
.uCase { text-transform: uppercase;}
.TdecorN, a.TdecorN:hover{text-decoration:none;}
.bdr0 {border:0;}
.op6 {opacity: 0.6;}
.list_n{list-style:none;}
.space_content {justify-content:space-between;}
.align_C{align-items:center;}

.m0A { margin: 0 auto;}
.m0{margin:0;}
.mT5{margin-top:5px;}
.mT10{margin-top:10px;}
.mT20{margin-top:20px;}
.mB10{margin-bottom:10px;}
.mB20{margin-bottom:20px;}
.pd18{padding:18px;}
.pd5{padding:5px;}
.pd10{padding:10px;}

.border_btn{border:1px solid #052F5F;}


input, textarea, button, select, a, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



