/* GRID */

$width: 98%;
$gutter: 2%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-med2: 65em; // 1030px
$breakpoint-large: 60em; // 960px

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
  @media only screen and (min-width: $breakpoint-small) { 
    width: 80%;
  }
  @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-med2){ 
    width: 98%;
  }
  @media only screen and (min-width: $breakpoint-large) {
    width: 85%;    
  }
  @media (min-width: 1200px) { 
    max-width: 75rem;
   }
}

.g-1,.g-2,.g-3,.g-4,.g-5,.g-6,.g-7,.g-8,.g-9,.g-10,.g-11,.g-12 {
  width: $width;
}

@media only screen and (min-width: $breakpoint-med) {
  .g-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .g-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .g-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .g-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .g-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .g-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .g-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .g-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .g-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .g-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .g-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .g-12 { width: $width; }
}


